.grspe{
    display: flex;
}
.bgre
{
    text-align: center;
}
.grap{
    text-align: center;
}
.btrie{
    text-align: end;
}
.grtdr{
    display: flex;
}
.hrawe{
    text-align: center;
}
.footer{
    display: flex;
}
.fgrr {
    margin-left: 50px;
}
.htrp{
    margin-left: 50px;
}
.btre{
    margin-left: 50px;
}
.offer{
    margin-top: 50px;
    position: absolute;
    color: aliceblue;
}
.footer{
    background-color: rgba(0, 17, 255, 0.582);
    margin-left: 50px;
}
.bgrs{
    margin-left: 50px;
    margin-right: 50px;
}